body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
}

button {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 10px;
    background-color: #FFA500;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

#result, #result2 {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px
}

#result th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: white;
}

#result th {
    background-color: #333;
    color: orange;
}

#result2
td {
    border: 1px solid white;
    padding: 8px;
    color: white;
    text-align: center;
}

#result2 th {
    background-color: #333;
    color: orange;
    text-align: center;
    border: 1px solid white;
    padding: 8px;
}

span {
    color: black;
    background-color: #FFA500;
    padding: 5px;
    border-radius: 5px;
}

#omInput {
    background-color: #333;
    color: white;
    font-size: 16px;
}